
@{
    ViewBag.Title = "Submit";
}

<h2>Submit</h2>
<h5>Name: @Model.Name</h5>
<h5>ID: @Model.ID</h5>
<h5>DOB: @Model.DOB</h5>
<h5>Email: @Model.Email</h5>
<h5>Gender: @Model.Gender</h5>
<h5>Dept: @Model.Dept</h5>

